<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" version="16.4.0.20170506" />
  <package id="atom" version="1.21.2" />
  <package id="audacity" version="2.2.0" />
  <package id="authy-desktop" version="1.1.0" />
  <package id="autohotkey.portable" version="1.1.26.01" />
  <package id="ccleaner" version="5.36.6278" />
  <package id="Charles" version="3.11.5" />
  <package id="chocolatey" version="0.10.8" />
  <package id="chocolatey-core.extension" version="1.3.3" />
  <package id="chocolateygui" version="0.15.0" />
  <package id="DotNet4.5" version="4.5.20120822" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="f.lux" version="4.55" />
  <package id="filezilla" version="3.29.0" />
  <package id="fzf" version="0.17.1" />
  <package id="gamesavemanager" version="3.1.449.20170803" />
  <package id="git" version="2.15.0" />
  <package id="git-lfs" version="2.3.4" />
  <package id="git-lfs.install" version="2.3.4" />
  <package id="git.install" version="2.15.0" />
  <package id="github" version="3.2.0.0" />
  <package id="handbrake" version="0.10.5.20160304" />
  <package id="hxd" version="1.7.7.20170419" />
  <package id="iTunes" version="12.7.1" />
  <package id="jdk8" version="8.0.152" />
  <package id="jre8" version="8.0.151" />
  <package id="lockhunter" version="3.2" />
  <package id="netbalancer" version="9.5.2" />
  <package id="nodejs.install" version="9.2.0" />
  <package id="nvm" version="1.1.5" />
  <package id="nvm.portable" version="1.1.5" />
  <package id="openssh" version="0.0.22.0" />
  <package id="putty.install" version="0.70" />
  <package id="python2" version="2.7.14" />
  <package id="skype" version="7.39.0.102" />
  <package id="spotify" version="1.0.66.478" />
  <package id="streamlink" version="0.8.1" />
  <package id="sysinternals" version="2017.9.12" />
  <package id="teamviewer" version="12.0.83369" />
  <package id="vcredist2012" version="11.0.61031" />
  <package id="virtualbox" version="5.2.0" />
  <package id="vlc" version="2.2.6" />
  <package id="windirstat" version="1.1.2.20161210" />
  <package id="yarn" version="1.3.2" />
</packages>